        
body {
    background-color:#7fffd4

}
.header {
    border: 1px solid  greenyellow;
    background-color:white;
    color:gray;
    text-align:center;
    padding:5px; 
    font-size: 30px;           
}



.footer {
    border: 1px solid  greenyellow;
    background-color:palevioletred;
    color:gray;
    text-align:center;
    padding:10x; 
    font-size: 30px;      
}