body{
    background-color: #ffebcd
}

input,select {
    width: 60%;
    padding: 5px;
    margin: 5px ;  
}
.header {
    border: 1px solid  greenyellow;
    background-color:white;
    color:#a52a2a;
    text-align:center;
    padding:5px; 
    font-size: 30px;           
}
