button
{
    background-color:blue;
    color: white; 
    border-radius: 6px;
    

}
#register
{
    position: relative;
    top: -20px;
    left:60px;
    border-radius: 6px;

}
  
body{
    background-color: burlywood;
}


h2{
    color :firebrick;
    text-align: left;
}
table, th, td {
    border: 1px solid blueviolet;
  }
  
  table, th,td {
   color: crimson;
  }
  
  table thead tr td {
   color:olivedrab;
  }
  #logout
{
    
    float: right;
}