button
{
    background-color:blue;
    color: white; 
    border-radius: 6px;
    

}
#register
{
    position: relative;
    top: -20px;
    left:60px;
    border-radius: 6px;

}
  
body{
    background-color: burlywood;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :firebrick;
    text-align: left;
}

.header {
    border: 1px solid  greenyellow;
    background-color:white;
    color:gray;
    text-align:center;
    padding:5px; 
    font-size: 30px;           
}